$green: #34C759;
$darkgray: #252525;
$lightgray: #737373;
$wordsgray: #303030;
$white: #ffffff;
$black: #1A1A1A;


%big{
    color: $wordsgray;
    font-size: 100px;
    font-weight: 900;
    padding-top: 95px;
    letter-spacing: 15px;
}

%h1_for_big{
    margin-top: -75px;
    font-size: 36px;
    letter-spacing: 10px;
    font-weight: 100;
}



%text{
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}
%text_a{
    padding: 7px 20px;
    border-radius: 6px;
}